@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply text-black;
  font-family: "Inter", serif;
}

.writing-vertical {
  writing-mode: vertical-rl;
  text-orientation: upright;
}

.card {
  @apply w-14 h-20 bg-slate-200 border-2 border-black rounded mobile:w-20 mobile:h-32;
  perspective: 1000px;
  transform-style: preserve-3d;
  transition: transform 1s;
}

.your-card {
  @apply w-14 h-20 bg-slate-200 border-2 border-black rounded mobile:w-20 mobile:h-32;
  perspective: 1000px;
  transform-style: preserve-3d;
  transition: transform 0.3s, border-color 0.3s;
}

.your-card.selected {
  @apply border-yellow-300;
  transform: scale(1.1); /* Slightly enlarges the card */
}

.your-card-face {
  @apply w-full h-full absolute;
  backface-visibility: hidden;
}
.card-inner {
  @apply w-full h-full relative;
  transform-style: preserve-3d;
  transition: transform 0.8s;
}

/* .card.flipped .card-inner {
  transform: rotateY(180deg);
} */
.card.flipped {
  transform: rotateY(180deg);
}

.card-back,
.card-face {
  @apply w-full h-full overflow-hidden absolute;
  backface-visibility: hidden;
}

.card-face {
  @apply cursor-pointer;
  transform: rotateY(180deg);
}

.backface-hidden {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
}

img {
  @apply w-full h-full object-cover;
}

.player-box {
  /* @apply; */
}

.card-row {
  @apply flex justify-center align-middle gap-2;
}

.info-row {
  @apply flex items-center justify-center mx-auto mt-3;
}

.player-name {
  @apply mobile:text-2xl text-xl text-black font-bold;
}

.info {
  @apply ml-4;
}
